
:root {
  --primary-color: #90EE90;
  --secondary-color: #CBC3E3;
  --button-text-color: #ffff;
}
      
      /* Text field styles */
input[type="text"] {
  padding: 10px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
}
  
      /* Button styles */
button {
  background-color: var(--primary-color);
  color: var(--button-text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}
      
button:hover {
  background-color: var(--secondary-color);
}